







<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->

<div id="navwrapper">
  <div id="navbar"> <table class="tablewrapper">
    <tr>
      <td class="row1">Email or Phone</td>
      <td class="row1">Password</td>
    </tr>
    <tr>
      <td><input type="text" class="inputtext">
      </td>
      <td><input type="text" class="inputtext">
      </td>
      <td><div id="button">Log In</div></td>
    </tr>
    <tr>
      <td>
        <div class="row2"><input type="checkbox" checked>Keep me logged in</div></td>
      <td class="row2 h">Forgot your password?</td>
  </table>
    
    <h1 class="logowrapper">Welcome Home</h1>
   
  </div>
  </div>

  <div id="contentwrapper">
    <div id="content">
      
      <div id="leftbod">
        
        <div class="leftbar">
          Find your dream home</div>
        
        <div class="leftbar">
          <!-- <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png" alt="" class="iconwrap fb1"/> -->
          <div class="h1">
            <span class="rowtext" vertical-align="Up">Find relatives and friends staying </span>
            <span class="rowtext2 ">In nearby area</span>
          </div>
        </div> 
          
          <div class="leftbar">
          <!-- <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt="" class="iconwrap fb1"/> -->
          <div class="h1">
            <span class="rowtext">Direct connect to</span>
            <span class="rowtext2 h1">property owners</span>
            </div>
          </div>
             
            <div class="leftbar">
          <!-- <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png " alt="" class="iconwrap fb1"/> -->
          <div class="fb1">
            <span class="rowtext">Find more properties</span>
            <span class="rowtext2 fb1">continue your search</span>
        </div> 
        </div> 
       
            
      
       
      <div id="rightbod">
        <div class="signup bolder">Sign Up</div>
        
        
        <div class="formbox">
        <input type="text" class="inputbody in1" placeholder="First name">
        <input type="text" class="inputbody in1 fr" placeholder="Last name">
        </div>
        <div class="formbox">
        <input type="text" class="inputbody in2" placeholder="Email or mobile number">
        </div>
        <div class="formbox">
        <input type="text" class="inputbody in2" placeholder="Re-enter email or mobile number">
        </div>
        <div class="formbox">
        <input type="text" class="inputbody in2" placeholder="New password">
        </div>
        
            </div>
            <div class="formbox">
              <div class="agree">
                By clicking Sign Up, you agree to our <div class="link">Terms</div> and that you have read our <div class="link">Data Use Policy</div>, including our <div class="link">Cookie Use</div>.
              </div>  
            </div>
            <div class="formbox">
              <button type="submit" class="signbut bolder">Sign Up</button>
            </div>
          
      </div>
     </div>
    </div>
  
  