<div style="padding: 20px;">
    <h1 style="color: blue">{{title}}</h1>
    <h3>{{description}}</h3>
    <nav>
      <a routerLink="addlist" class="btn btn-primary active" role="button" routerLinkActive="active">Advertisements</a>
      <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
      <a routerLink="findbyarea" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
